<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <h2>Add a new product</h2>
        <form action="/products/add" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="emoji">Emoji</label>
            <input type="text" name="emoji">
            <label for="price">Price</label>
            <input type="text" name="price">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity">
            <label for="categoryId">Category ID</label>
            <input type="number" name="categoryId">
            <button>Submit</button>
        </form>
        <a href="/products">
            <button>Back</button>
        </a>
    </body>
</html>