<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h2>Categories</h2>
            <section class="categoriesList">
                <% if (locals.categories ) { %>
                    <% categories.forEach(category => { %>
                        <div class="category">
                            <div><%= category.name %></div>
                            <a href="/categories/<%= category.id %>/edit">
                                <button class="iconButton">
                                    <span class="material-icons">edit</span>
                                </button>
                            </a>
                        </div>
                    <% }) %>
                <% } %>
            </section>
            <a href="/categories/add" class="button">Add category</a>
        </main>
    </body>
</html>