<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <h2>Edit category</h2>
        <form action="/categories/<%= category.id %>/edit" method="POST">
            <% console.log(category) %>
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= category.name %>">
            <button>Submit</button>
        </form>
        <form action="/categories/<%= category.id %>/delete" method="POST">
            <button>Delete</button>
        </form>
        <a href="/categories">
            <button>Back</button>
        </a>
    </body>
</html>