<header>
    <a href="/"><h1>📦 Emojitory</h1></a>
    <a href="/">Home</a>
    <a href="/products">Inventory</a>
    <a href="/categories">Categories</a>
    <form action="/products" method="GET" class="search">
        <input type="text" name="search" placeholder="Search for a product" value="<%= locals.search ? search : "" %>">
        <button class="iconButton">
            <span class="material-icons">search</span>
        </button>
    </form>
</header>