body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

button, .button {
    border: none;
    font-size: 16px;
    padding: 10px 30px 10px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

button:hover, .button:hover {
    transform: translateY(-4px);
}

.productCard {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: white;
    padding: 0 20px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.productCard:hover {
    transform: scale(1.05);
}

.productCard .name {
    font-size: 20px;
    margin: -4px 0 6px;
}

.productCard .category {
    background-color: coral;
    color: white;
    padding: 2px 10px 2px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 8px;
    width: fit-content;
}

.productCard .emoji {
    font-size: 80px;
}

.productCard .details {
    display: flex;
    font-size: 16px;
    width: 100%;
}

.productCard .price {
    flex: 1;
}

.productsList a {
    display: inline-block;
}

.productsList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    justify-content: center;
    width: 100%;
}

input, select {
    font-size: 16px;
    width: 220px;
    padding: 10px 16px 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 1px 1px rgb(0 0 255 / 0.1);
    box-sizing: border-box;
    margin: 6px 0 6px;
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px orangered;
}

form {
    display: flex;
    flex-direction: column;
}
.search {
    flex-direction: row;
}

form button {
    width: fit-content;
}

.iconButton {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
}

a.iconButton, div.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.secondary, div.secondary {
    color: white;
    background-color: coral;
}

.categoriesList {
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    border-collapse: separate;
    border-spacing: 15px;
    text-align: left;
    border-collapse: collapse;
}

tr {
  border-top: 1px solid whitesmoke;
}

tr:first-child {
  border-top: none;
}

th, td {
  border: none;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

table .category {
    background-color: coral;
    color: white;
    padding: 2px 10px 2px;
    border-radius: 20px;
    font-size: 16px;
    width: fit-content;
    transition: all 0.2s ease;
}

table .category:hover {
    transform: translateY(-4px) scale(1.04);
    background-color: orangered;
}

header {
    background-color: coral;
    margin: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px 0;
}

header form {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

header input {
    margin: 0;
}

header a {
    display: inline-block;
    color: white;
    font-size: 16px;
    transition: all 0.2s ease;
}

header a:hover {
    transform: translateY(-2px);
}

header a:nth-child(4) {
    flex: 1;
}

header h1, h2 {
    font-size: 30px;
}

main {
    padding: 0 20px 0;
}

.productsList, .categoriesList {
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
}

.tooltiptext {
  position: fixed;
  visibility: hidden;
  width: 200px;
  height: fit-content;
  font-size: 16px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 20px 6px;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  width: 130px;
  top: 100%;
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.2s;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  cursor: default;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: coral;
}

.container input:checked ~ .checkmark {
  background-color: orangered;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

label.container {
    font-size: 16px;
}

.tooltip h3, .tooltip h4 {
    margin: 0;
    font-size: 16px;
    text-align: left;
}

.tooltip h4 {
    margin: 10px 0 6px;
}

.tooltip button {
    margin-top: 8px;
    width: 100%;
}

.tooltip button#reset, .tooltip button#resetFilter {
    background-color: coral;
}

.tooltip form {
    gap: 0;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #eee;
}

.checkboxContainer:hover input ~ .checkbox {
  background-color: coral;
}

.checkboxContainer input:checked ~ .checkbox {
  background-color: orangered;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkbox:after {
  display: block;
}

.checkboxContainer .checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.checkboxContainer {
    font-size: 16px;
    text-align: left;
}

label.checkboxContainer:nth-child(2) {
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

form.main input, form.main select {
    background-color: rgb(251, 251, 251);
}

.bento {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.bentoCard {
    background-color: coral;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    user-select: none;
    transition: all 0.2s ease;
}

.bentoCard:hover {
    transform: scale(1.04);
}

.bentoCard:nth-child(2) {
    background-color: orangered;
}

.bentoCard div:nth-child(1) {
    font-size: 120px;
}

.bentoCard div:nth-child(2) {
    font-weight: bold;
    font-size: 50px;
}

.bentoCard div:nth-child(3) {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin: 0 0 40px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.error {
    color: red;
    height: 20px;
    font-size: 14px;
    margin-bottom: 6px;
}

button.delete {
    margin-left: auto;
    margin-right: auto;
    color: red;
    text-decoration: underline 1px red;
    text-underline-offset: 4px;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: -10px;
}